<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FoodRe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--   CSS LINK-->
    <link rel="stylesheet" type="text/css" href="receivercart/css/receivercartpg.css">

    <!--    Bootstrap css link-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!--    Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <!--    Bootstrap js link-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <!-- title section -->
    <form  action="/cartpageredirect" method="post">
      <button type="submit" name="button" id="00B30000007oQyK_refresh" style="display: none;"></button>
    </form>

    <script type="text/javascript">
      var button=document.getElementById("00B30000007oQyK_refresh");
      setInterval(function(){
      button.click();
    }, 120000);
    </script>

    <section id="title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">
                    <!-- <img src="logo.png" width="150px" height="50px" alt=""> -->
                    FoodShare
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/reclogout">Main HomePage</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rechomepage">My HomePage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reclogout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <script>
      var markers = [];
      var countDownDate = [];
      var x = [];
      var distance = [];
      var days  = [];
      var hours = [];
      var minutes = [];
      var seconds = [];
    </script>

    <section id="rechompg">
        <div class="container-fluid">
            <div class="row">
                <div class="foodcartlist col-lg-12">

                    <h2>Your Orders</h2>

                    <div class="row py-5 details">
                        <div class="card mb-4">
                            <div class="card-body p-5">
                                <div class="custom-scrollbar-css p-3">
                                  <%  if(cartitems.length == 0){  %>
                                      <div class="card mb-4">
                                          <div class="card-body p-3">
                                              <h3 style="align:center;">No Orders</h3>
                                              <br>
                                              <p class="font-italic">You need to order the food from the list of foods available that apears on
                                                the page that appears as soon as you login.<b>NOTE: </b>the foods that you order will be available
                                                in the cart only till it is in the edible state,once the food get expired it will be removed from the
                                                ordered food's list. </p>
                                            </div>
                                        </div>
                                  <%   }  %>

                                      <% cartitems.forEach(function(item,index){ %>


                                        <div class="card mb-4">
                                            <div class="card-body p-3">
                                                <h3><%=item.foodname%> (<%=item.qty%> persons)</h3>
                                                <h5 id="<%=item.id%>" ></h5>

                                                <script>

                                                // Set the date we're counting down to
                                                countDownDate[<%=index%>] = new Date(<%=item.expirytime%>).getTime();

                                                // Update the count down every 1 second

                                                   x[<%=index%>] = setInterval(function() {

                                                  // Get today's date and time
                                                   var now = new Date().getTime();

                                                  // Find the distance between now and the count down date
                                                   distance[<%=index%>] = countDownDate[<%=index%>]  - now;

                                                  // Time calculations for days, hours, minutes and seconds
                                                   days[<%=index%>]  = Math.floor(distance[<%=index%>]  / (1000 * 60 * 60 * 24));
                                                   hours[<%=index%>]  = Math.floor((distance[<%=index%>] % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                   minutes[<%=index%>]  = Math.floor((distance[<%=index%>]  % (1000 * 60 * 60)) / (1000 * 60));
                                                   seconds[<%=index%>]  = Math.floor((distance[<%=index%>]  % (1000 * 60)) / 1000);

                                                  // Output the result in an element with id="demo"
                                                  document.getElementById("<%=item.id%>").innerHTML = days[<%=index%>]  + "d " + hours[<%=index%>]  + "h "+ minutes[<%=index%>]  + "m " + seconds[<%=index%>]  + "s ";

                                                  // If the count down is over, write some text
                                                  if (distance[<%=index%>] < 0) {
                                                    clearInterval(x[<%=index%>]);
                                                    document.getElementById("<%=item.id%>").innerHTML = "EXPIRED";
                                                  }
                                                }, 1000);

                                                </script>

                                                <h5>Donor : <%=item.donorname%></h5>
                                                <h5>Phone : <%=item.donorphone%></h5>
                                                <p class="font-italic"><em>ADDRESS: </em><%=item.donoraddress%></p>
                                            </div>
                                        </div>


                                    <%  }) %>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                </div>
            </div>

    </section>
    <!-- Contact us  section -->

    <footer id="footer">
        <h1>Contact Us</h1>
        <i class="social-icon fab fa-facebook-f fa-1x"></i>
        <i class="social-icon fab fa-instagram fa-1x"></i>
        <i class="social-icon fas fa-envelope fa-1x"></i>
        <i class="social-icon fab fa-twitter fa-1x"></i>

    </footer>



</body>

</html>
